/* reset code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font add */
.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* share styles start */
.primary_btn {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 1000px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary_btn .fa-solid {
    transition: all 0.3s ease;
}

.primary_btn:hover .fa-solid {
    transform: translateX(6px);
}

.primary_btn:hover {
    transform: scale(1.08);
}

.secondry_btn {
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    background-color: transparent;
    border-radius: 1000px;
    cursor: pointer;
}
/* share styles end */

/* header related styles start */
header {
    background-color: #1A0B2E;
}

header .navbar {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 100%;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar ul li {
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;

}

.header_hr, .about_hr {
    opacity: 0.1;
}
/* header related styles end */
/* banner related styles start */
#banner {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 101px 0;
}

#banner .banner_container {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.banner_container .banner_img img {
    margin-bottom: 40px;
}

.banner_container .banner_content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner_container .banner_content p {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner_container .new_badge {
    background-color: #00FF88;
    font-size: 1.12rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    position: absolute;
    top: 12px;
    right: 123px;
    cursor: pointer;
}
/* banner related styles end */
/* about related styles start */
#about {
    background-color: #1A0B2E;
}

#about .about_container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 120px 0;
}

.about_container .about_content {
    padding: 0 230px;
}

.about_container .about_content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.about_container .about_content .text_one {
    color: #FFFFFF;
    margin-bottom: 3rem;
    line-height: 28px;
}

.about_container .about_content .text_two {
    color: #FFFFFF;
    margin-bottom: 5rem;
}

.about_container .about_number {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.about_number .about_card h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #00FF88;
    margin-bottom: 1rem;
}

.about_number .about_card p {
    color: #FFFFFF;
}
/* about related styles end */
/* choose related styles start */
#choose {
    padding: 120px 0;
    background-color: #230E3D;
}

#choose .section_heading {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

#choose .choose_container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

#choose .choose_container .card_one {
    grid-row: span 2;
    padding: 107px 40px;
}

.choose_container .card_two {
    grid-column: span 2;
}

.choose_container .card_three {
    grid-column: span 2;
}

.choose_container .card_four {
    grid-column: span 2;
}

.choose_container .choose_card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    padding: 40px;
    transition: all 0.3s ease;
}

.choose_container .choose_card:hover {
    box-shadow: 0 20px 50px rgba(145, 0, 248, 0.45);
}

.choose_container .choose_card img {
    margin-bottom: 1rem;
}

.choose_container .choose_card h4 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.choose_container .choose_card p {
    color: #FFFFFF;
    line-height: 24px;
}
/* choose related styles end */
/* feature related styles start */
#feature {
    background-color: #1A0B2E;
    padding: 120px 0;
}

#feature .feature_heading {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

#feature .feature_container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feature_container .feature_card {
    background-color: #250D44;
    border-radius: 24px;
    max-width: 380px;
}

.feature_card .feature_video iframe{
    border-radius: 24px 24px 0 0;
}

.feature_card .feature_content {
    padding: 24px;
}

.feature_container .feature_card h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #FFFFFF;
}

.feature_container .feature_card p {
    margin-bottom: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

.feature_card .card_clock {
    display: flex;
    align-items: center;
    gap: 6px;
}

.feature_card .card_clock span {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}
/* feature related styles end */
/* meet related styles start */
#meet {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

#meet .meet_heading {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

#meet .meet_container {
    background-color: rgba(53, 17, 101, 0.4);
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
}

.meet_container .meet_content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.meet_container .meet_content p {
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.meet_container .meet_content .meet_social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meet_container .meet_content .meet_social img {
    border: 1px solid #533C72;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}
/* meet related styles end */       
/* footer related styles start */
footer {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .footer_container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 135px;
    padding-bottom: 105px;
    text-align: center;
}

.footer_container .footer_logo {
    margin-bottom: 32px;
}

.footer_container .footer_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer_icon_container .single_icon {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
}

.footer_icon_container .single_icon p {
    font-weight: 500;
    color: #FFFFFF;
}

.footer_container p {
    line-height: 24px;
    color: #FAFAFA;
}


/* footer related styles end */       